<h4 class="font-weight-bold py-3 mb-4">
  Materials Collection
  <button *ngIf="appSrv.isRole('materials', 'create')" routerLink="create" type="button" class="btn btn-round btn-outline-primary float-right">Add Materials</button>
</h4>

<ngx-image-gallery
        [images]="images"
        [conf]="conf">
</ngx-image-gallery>
<div class="card">

  <!-- Table -->
  <hr class="border-light m-0">
  <div class="table-responsive">
    <table class="table card-table">
      <thead>
      <tr>
        <th class="text-nowrap">
          #
        </th>
        <th class="text-nowrap"></th>
        <th class="text-nowrap">
          Name
        </th>
        <th class="text-nowrap">
          Material Type
        </th>
        <th class="text-nowrap">
          Expired In
        </th>
        <th class="text-nowrap">
          Stock
        </th>
        <th class="text-nowrap">
          Type
        </th>
        <th class="text-nowrap">QR Code</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="mats.length == 0">
        <td colspan="6" class="text-center">No Data Found</td>
      </tr>
      <tr *ngFor="let m of mats | reverse; let i = index">
        <td class="align-middle">{{ i + 1 }}</td>
        <td class="align-middle"><img [src]="url + '/' + m.image" style="width: 50px; height: 50px" alt=""></td>
        <td class="align-middle"><a href="javascript:void(0)">{{m.name}}</a></td>
        <td class="align-middle">{{m.category}}</td>
        <td class="align-middle">{{m.expiry | date: 'longDate'}}</td>
        <td class="align-middle">{{m.quantity}} {{m.unit}}</td>
        <td class="align-middle">{{m.type}}</td>
        <td class="align-middle">
          <a href="javascript:void(0)" (click)="showImage('canv'+ m.id, m.name)">
            <qrcode [qrdata]="m.qrcode" [size]="50" [level]="'M'"></qrcode>
          </a>
          <qrcode [qrdata]="m.qrcode" style="display: none;" id="canv{{m.id}}" [size]="512" [level]="'M'"></qrcode>

        </td>
        <td class="text-center text-nowrap align-middle">
          <a *ngIf="appSrv.isRole('materials', 'update')" routerLink="edit/{{m.id}}" class="btn btn-default btn-xs icon-btn md-btn-flat" ngbTooltip="Edit">
            <i class="ion ion-md-create"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
